/* 사용할 폰트 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 태그이름을 통한 css디자인 */
h1 {
    font-size: 2rem;
    font-family: 'OAGothic-ExtraBold';
}
section {
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
}
a {
    color: white;
    text-decoration: none;
} /*a태그에 반복해서 썼던 태그들을 ctrl f로 찾아서 지워주었다*/

/* 클래스 이름을 통한 css디자인 */
/* header의 nav */
.header { 
    position: fixed;
    /*background: #2D3192cc;*/
    background: linear-gradient(#000000, #2D3192cc); /* 그라데이션 효과 */
    width: 100%;
    color: white;
    z-index: 100;/*양수로 적을 때마다 그 값이 올라간다*//*가장 위쪽으로 올라가게 됨*/
}
.header>.nav {
    /*background-color: aliceblue;*/
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /*중앙 정렬*/
    padding: 10px 20px;
}
.header>.nav>.nav-menu {
    display: flex;
    width: 40%; /*크기를 차지하자*/
    justify-content: space-evenly;
}
.header>.nav>.nav-menu a {
    font-family: 'OAGothic-ExtraBold';
    font-size: 1.2rem;
    font-weight: bold;
}

.header>.nav>.nav-menu a::after {
    content: "";
    display: inline-block;
    width: 0; height: 4px;
    background-color: #FFFF08;
    position: absolute;
    bottom: 0;
    margin-left: -74px;
} /*after를 통해서 선이 올라도록 했고*/
.header>.nav>.nav-menu a:hover:after {
    width: 80px;
    transition: all 0.5s;
} /*마우스를 올리면 애니메이션이 동작하도록 했다*/

.header>.nav>.nav-menu a:hover {
    color: #FFFF08;
}

.header>.nav>a>.nav-title {
    width: 170px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'PyeongChangPeace-Bold';
}

/*main*/
/* 섹션부분을 찾기 힘들 것 같다면 메인에 두어도 상관없음 */
.main { /*background-color: rgb(123, 206, 206); */}

/*section 단위로 접근*/
.section1-wrap {
    width: 100%; /*부모값을 받아와있어서*/
    min-height: 400px; /*사진을 작성해주어야할때는 최솟값을 설정해줘서 작게 나오는 것 방지*/
    height: 100vh;
    background-image: url(../img/Festival5.jpg);
    background-size: cover;
    background-position: center;
}

.section1-wrap>.section1-title {
    /*padding-top: 300px;*/
    color: white;
    text-align: right;
    padding: 250px 0 20px 20px; /*top right bottom left*//*position도 가능*/
    text-shadow: 0 0 5px black;
    font-weight: bold;
}
.section1-wrap>.section1-title>h1 {
    font-size: 3rem;
}
.section1-wrap>.section1-title>h3 {
    font-family: 'OAGothic-ExtraBold';
    font-size: 1.5rem;
    margin: 10px 0;
}

/* section2 행사 설명 */
.section2-intro {
    text-align: center;
    padding: 60px 0;
    line-height: 120%;
}
.section2-intro>.intro-title,
.section2-intro>.intro-title>h1 {
    margin-bottom: 20px;
}
.section2-intro>.intro-title>h3 {
    font-family: 'NanumSquareNeo-Variable';
}
.section2-intro>.intro-descript>table {
    font-family: 'NanumSquareNeo-Variable';
    margin: auto; /*중앙정렬*/
    margin-top: 50px;
}
.section2-intro>.intro-descript td:first-child {
    color: #2D3192;
    padding: 5px 10px;
    border-right: #2D3192 2px solid;
    font-weight: bold;
}
.section2-intro>.intro-descript table tr td {
    padding: 5px 10px;
}

/* section3 행사이미지 */
.section3-wrap {
    /*background-color: #EB5D9955;*/
}
.section3-wrap>.section3-gallery>.gallery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.section3-gallery>.gallery-title>a {
    background-color: #2D3192;
    padding: 8px 12px;
    border-radius: 15px;
}
.section3-gallery>.gallery-title>a:hover {
    background-color: #EB5D99;
    /*nav bar 아래로 가게 되면 선택이 안된다*/
    transition: all 0.2s;
} 


.section3-gallery>.gallery-board-wrap {
    max-width: 920px; /*??? 중앙으로 안들어가..*/
    margin: auto;
    
    /*
    display: flex;/* flex의 특징으로는 너비를 붙여서 센터로 넣어주는 것을 확인할 수 있다*/
    /* justify-content: space-evenly; */
    /*justify-content: center;
    */
}

.section3-gallery .gallery-board {
    display: inline-block;
    width: 280px;
    height: 350px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    margin: 0 5px; /*justify-content: center;로 사용할 때 */
}
.section3-gallery .gallery-board>h4 {
    font-weight: bold;
}


.section3-gallery .gallery-board>.image-wrap {
    width: 250px;
    height: 250px;
    margin: 15px;
    overflow: hidden;
}
.section3-gallery .gallery-board:hover .image {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* section3 이미지 넣는 공간 */
.section3-gallery>.gallery-board-wrap>.gallery-board:nth-child(3) .image {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/Festival3.jpg);
}
.section3-gallery>.gallery-board-wrap>.gallery-board:nth-child(2) .image {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/Festival3.jpg);
}
.section3-gallery>.gallery-board-wrap>.gallery-board:nth-child(1) .image {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/Festival3.jpg);
}

/* section4 행사뉴스 */
.section4-news {
    padding: 60px 0;
    height: 350px;
}
.section4-news>table {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.section4-news>table tr td:first-child {
    color: #2D3192;
    font-weight: bolder;
    padding-right: 50px;
}
.section4-news>table tr td a{
    color: black;
    text-decoration: none;
}
.section4-news>table tr:hover td,
.section4-news>table tr:hover td a
{
    color: #EB5D99;
}

.section4-news>table tr td {
    padding: 15px 0;
    border-top: #2D3192 2px solid;
    border-bottom: #2D3192 2px solid;
}

/* footer */
.footer {
    background-color: rgb(230, 230, 230);
    padding: 15px 0;
}
.footer>.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer>.footer-content>.footer-info>p {
    float: left;
    padding-right: 50px;
    padding-bottom: 10px;
    color: gray;
    font-size: 0.8rem;
}
.footer>.footer-content>.footer-info>p:last-child {
    padding: 0;
    clear: both;
}

/* top 버튼 */
.top-button {
    position: fixed;
    bottom: 10px; right: 10px;
    width: 80px; height: 80px;
    background-color: #2D3192;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
    transition: all 0.3s;
}
.top-button:hover {
    background-color: #EB5D99;
    transition: all 0.3s;
}
.top-button>a {
    font-size: 1.2rem;
    font-weight: bold;
}

/* nav 모바일 버튼 */
.nav>.mobile-button {
    display: none;
    background-image: url(../img/bars-solid.svg);
    width: 35px;
    height: 40px;
    /*네브안에 div로 mobile-button으로 연결*/
    cursor: pointer;
}


/* 미디어쿼리 - nav */ /*여기에서 값을 사용하게 되면 다른 곳에서도 확인할 수 있다*/
@media screen and (max-width:767px) {
    .header {background: #EB5D99cc;}
    .nav>.mobile-button {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .nav>.nav-menu{
        flex-direction: column;
        height: 60px; /*menu바 내려오기*/
        transition: all 0.5s;
    }
    .nav>.nav-menu>li {
        display: none; 
    }
    .nav>.mobile-button:hover+.nav-menu,
    .nav>.nav-menu:hover
    {
        height: 100vh;
        transition: all 0.5s;
    }
    .nav>.mobile-button:hover+.nav-menu>li,
    .nav>.nav-menu:hover>li
    {
        display: inline-block;
    }
} /*큰화면에서 nav부분을 검사해보면 */