/* map.html에 적용되는 css */
/* section-map */
.map-main>.section-map {
    padding-top: 120px;
    padding-bottom: 60px;
}
.map-main>.section-map>div {
    margin: auto; /*다른 div가 없다고 생각해서 바로 적용 가능*/
    margin-bottom: 50px;
}

.map-main>.section-map>h1 {
    padding-left: 180px;
}
.map-main>.section-map>h3 {
    /* main-style에 있는 값 접근 가능 */
    font-family: 'NanumSquareNeo-Variable';
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.map-main>.section-map>table {
    margin: auto;
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
}
.map-main>.section-map>table tr {
    border-top: 1px gray solid;
}
.map-main>.section-map>table tr:last-child {
    border-bottom: 1px gray solid;
}
.map-main>.section-map>table td {
    padding: 15px 0;
    border-right: 1px gray solid;
}
.map-main>.section-map>table td:last-child {
    border-right: none;
}