/* 
마진과 패딩값은 각각의 태그안에 넣어줄 수도 있지만 
따로 작성하고, 클래스를 추가하는 식으로 작성할 수 있다
*/
.m-all-1 { /*margin-all 각각의 두께를 이용*/
    margin: 10px;
}
.m-all-2 {
    margin: 20px;
}
/*
공간을 사용할 때 들어갈 마진 값들을 디자인에서 확인을 하고 마진 올 1이라고 하면 10 px를 넣겠다 
넣을 공간을 사용할 때마다 붙여라 하고 사용 가능 class로 작성하게 되면 모든 공간에 균일한 값을 넣어줄 수가 있다
원하는 높이만큼 규칙적으로 사용이 가능하다
*/
.p-top-1 {
    padding-top: 10px;
}
.p-top-2 {
    padding-top: 20px;
}
/*left처럼 같이 들어가야 할 경우에는*/
.p-left-1 {
    padding-left: 10;
}
/*margin과 padding값을 먼저 잡고 레이아웃으로 공간을 구분하고 공간을 줄때 클래스를 붙여가며 확인하는 식으로 진행 */
/*따로 작성하고 클래스를 추가하는 식으로 하면 깔끔 */