@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {margin: 0;}

/* header */
.header {
    position: fixed;
    background-color: #00000085;
    width: 100%;
    padding: 20px 10px;
}
.header>.nav a {
    text-decoration: none;
    list-style: none;
    color: white;
}
.header>.nav>h1 {
    font-family: 'LOTTERIACHAB';
    font-weight: lighter;
    width: 150px;
    text-align: end;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
}


.header>.nav>.nav-div>.nav-menu {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'GongGothicMedium';
    font-size: 1.2rem;
} 

.header>.nav>.nav-div>.nav-menu a {
    color: white;
    text-decoration: none;
}

.header>.nav>.nav-div>.nav-menu a:hover {
    width: 80px;
    transition: all 0.5s;
    color: rgb(116, 116, 116);
}



/*MAIN*/
.section-wrap {
    width: 100%;
    height: 100vh;
    min-height: 900px;
    background-image: url(../img/Festival4.jpg);
    background-size: cover;
    background-position: center;
}

.section-wrap>.section1 {
    color: white;
    text-align: center;
    padding: 500px 0 ;
    text-shadow: 0 0 7px black;
}
.section-wrap>.section1>h1 {
    font-family: 'LOTTERIACHAB';
    font-size: 6rem;
    font-weight: lighter;
}
.section-wrap>.section1>h3 {
    font-family: 'GongGothicMedium';
    font-size: 2rem;
    font-weight: bolder;
}




.section2-wrap>.section2 {
    margin: 60px;
    text-align: center;
}
.section2-wrap>.section2>h1 {
    font-family: 'ghanachoco';
    font-size: 2.5rem;
    font-weight: lighter;
}
.section2-wrap>.section2>h1:hover {
    color: #ffc74ecc;
    transition: all 0.3s;
}


.section2-wrap>.section2>h3 {
    font-family: 'GongGothicMedium';
    margin: 20px;
    font-weight: normal;
}
.section2-wrap>.section2>h3 span {
    color: #ffc74e;
}

.section3-wrap>.section3>.table {
    font-family: 'GongGothicMedium';
    margin: auto;
    width: 600px; height: 150px;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 100px;
}
.section3-wrap>.section3 tr :first-child {
    color: rgb(129, 128, 127);
    padding: 5px 10px;
    border-right: 2px solid #77777785;
}

.section4-wrap>.section4 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 100px 300px;
    font-family: 'GongGothicMedium';
    font-size: 1.5rem;
    
}